.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 10.5rem;
}

.seccion_about{
    background-color: hsla(0, 0%, 1%, 0.4);
    border-radius: 5px;
    padding: 1rem 1rem;
}

.titulo_about{
    background-color: hsl(0, 0%, 10%, 0.2);
    display: flex;
    justify-content: center;
    border: 4px groove white;
}

.titulo_about h1{
    padding: 0 1.8rem;
    text-align: center;
    font-size: 4.7rem;
}

.titulo_about img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about_p{
    display: flexbox;
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
    
}

.about_p #p1{
    margin-bottom: 1rem;
}

.about_p #p2{
    margin-bottom: 1rem;
}

.skills{
   display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 2rem 0 2rem;
    margin: 2rem 0 2rem 0;
}

.herramientas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 2rem 0 2rem;
    margin: 2rem 0 2rem 0;
}

.herramientas h2{
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
    width: 15rem;
}

.skills h2{
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
    width: 15rem;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;

}

.logo p{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.skill{
   
    
    width: 2rem;
    height: 4rem;
}

@media (max-width: 768px){
    .titulo_about h1{
        font-size: 3.7rem;
    }

    .about_p{
        font-size: 1rem;
    }

}

